@use '../../styles/mixins' as * ;
@use '../../styles/global' as * ;

.sidebar {
	@apply relative;
	.menu {
		@apply text-center absolute w-full flex flex-col justify-center;
		background-image: linear-gradient(to right, #e0e4fb, #c7cced);
		min-height: 25rem;
		border-top-left-radius: 2rem;
		border-bottom-left-radius: 2rem;
		top: 50%;
		transform: translateY(-30%);
		@include shadow('lg', false);
		border-top: 2px solid rgba(255, 255, 255, 0.7);
		border-bottom: 2px solid rgba(255, 255, 255, 0.6);

		.item {
			@apply block mb-5 text-2xl;
				svg {
					@apply mx-auto transition-colors fill-[#1c2034];
				}
				&:hover svg {
					@apply fill-[#666d91];
				}

				&.active svg {
					@apply fill-primary;
				}
			}
		}
	}
